body {
    margin: 25px;
    margin-top: 50px;
    font-family: "Lato", sans-serif;
    font-family: "PT Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Be Vietnam", sans-serif;
    background-color: white;
    letter-spacing: 1.5px;
    color: #f6416c;
    font-size: 50px;
}
