body {
    margin: 25px;
}

.title {
    font-size: 60px;
}

.center {
    text-align: center;
}

.dropdown {
    width: 400px;
    height: 80px;
    font-size: 35px;
    background-color: white;
    border-color: black;
    border-width: 2px;
}
.berlin {
    font-size: 40px;
}

label {
    font-size: 45px;
}

.flex {
    display: flex;
}

.titleAndLogin {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;
}

.login {
}
.dayDiv {
    background-color: #01d28e;
    padding: 40px;

    margin-bottom: 10px;
    margin-top: 10px;
}

.day {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 50px;
}

.text {
    font-size: 45px;
    color: black;
}

.eventDescription {
    line-height: 50px;
    vertical-align: baseline;
}

.descriptionAnswer {
    word-break: break-all;
}

.eventsDiv {
    margin-bottom: 70px;
}

.plusDiv {
    font-size: 50px;
    text-align: center;
}

.modal-header {
    display: block;
}

.smallPlusDiv {
    align-content: center;
    margin-left: 20px;
    font-size: 35px;
}

td {
    min-width: 100px;
}

tr {
    align-items: flex-start;
}

.dayAndPlus {
    display: flex;
}

.signout {
    text-align: right;
}

.welcome {
    margin-top: 30px;
}

.date,
.time {
    width: 300px;
    height: 100px;
    font-size: 30px;
}

.repeatsDiv {
    margin-top: 60px;
    align-items: center;
}

.week1,
.week2 {
    margin-top: 50px;
}

.eventLine {
    display: flex;
    align-items: center;
}

.repeatDropdown {
    width: 100px;
    height: 70px;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

.dateDropdown {
    width: 150px;
    height: 70px;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

.authText,
.authTitle {
    text-align: center;
}

.authText {
    margin-bottom: 50px;
}

.euro {
    height: 70px;
    width: 35px;
    font-size: 55px;
    border-style: solid;
    border-color: gray;
    border-right: white;
}
.priceInput {
    border: gray;
    border-left: white;
    font-size: 50px;
    height: 70px;
}

.inputs {
    width: 95%;
    height: 70px;
    font-size: 30px;
    border-style: solid;
}

.inputDiv {
    margin-top: 40px;
    margin-bottom: 40px;
}

.description {
    height: 200px;
    border-style: solid;
    border-color: black;
}

.radioButton {
    height: 40px;
    width: 40px;
}

.event {
    width: 100%;
}

.button {
    width: 400px;
    height: 150px;
    font-size: 40px;
    background-color: #333;
    color: white;
}

.facebookContainer {
    margin-top: 120px;
}

#facebook-button {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    padding: 45px 80px;
    background-image: -webkit-linear-gradient(#3b5998, #314b83);
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #283e6b;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.3s;
    &:hover {
        background-image: -webkit-linear-gradient(#4466ac, #34518e);
    }
    &:active {
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
            0px 1px rgba(255, 255, 255, 0.2);
    }
}

#gmail-button {
    color: black;
    font-size: 40px;
    text-decoration: none;
    padding: 45px 80px;
    background-image: -webkit-linear-gradient(cornsilk);
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #283e6b;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.3s;
    &:hover {
        background-image: -webkit-linear-gradient(#4466ac, #34518e);
    }
    &:active {
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
            0px 1px rgba(255, 255, 255, 0.2);
    }
}

@media (min-width: 1000px) {
    ::placeholder {
        font-size: 20px;
    }

    .inputDiv {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .inputs,
    .date,
    .time {
        width: 40%;
        height: 40px;
    }

    .description {
        height: 200px;
    }
    .week1,
    .week2 {
        width: 100%;
        display: flex;
    }

    .eventsDiv {
        line-height: 10px;
    }

    .title {
        font-size: 30px;
    }

    .button {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    label {
        font-size: 20px;
    }

    .text,
    .date,
    .time {
        font-size: 18px;
    }

    .dayDiv {
        width: 50%;
        height: 200px;
        padding: 10px;
        margin: 1px;
    }

    .dropdown {
        width: 200px;
        height: 60px;
        font-size: 25px;
        display: none;
    }

    .weeks {
        /* width: auto; */
    }

    .smallPlusDiv {
        font-size: 15px;
    }

    .modal {
        /* top: 20%; */
    }

    .modal-dialog {
        max-width: 900px;
    }
}
